// --------------------------------------------------------------------------
//  Susy 2 Layout
//---------------------------------------------------------------------------

$susy: (
    columns: 12,
    column-width: 4em,
    gutters: 1/4,
    gutter-position: inside-static,
);

body {
    @include container(80% show overlay);
}